body {
  margin: 0;
 background-color: ;
  color: rgb(236, 234, 234);
  font-size: small;
    /* The image used */
    /* background-image: url("https://images.all-free-download.com/images/graphiclarge/book_ends_311495.jpg"); */

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

